PORT=3001
TSERVER_HOST=TSERVER\SQLSERVER
TSERVER_USER=
TSERVER_PASSWORD=
DBSITECD_NAME=DBSiteCD
NOVIDADES_DIAS=180
IMAGES_BASE_URL=http://localhost:3001/imagens
FRONTEND_BASE_URL=http://localhost:3000

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
